*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   justify-content: space-evenly;
}
 #demo{
    width: 300px;
    height: 1.5rem;
}
.btn{
    height: 25px;
    width: 58px;
    border-radius: 20%;
    background-color:dimgrey;
    font-weight: bold;
}
.todo-form{
    display: flex;
    flex-direction: column;
    
}
.todo-form li{
    display: flex;
    justify-content: space-between;
    gap: 30px;
   
}
span{
    border: 1px solid black;
    border-bottom: 2px solid black;
    width: 290px;
    height: 35px;
    padding-top: .5rem;
    font-weight: 300;
    
}
.todo-btn{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items:end;
}
.done,.remove{
    width: 55px;
    height: 25px;
   background-color: darkolivegreen;
   border-radius: 7px;
   font-weight: bold;
}